@page

@section CSS {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
}

<section id="Parallax">
    <div class="circle-parallax">
        <div class="circle"></div>
        <img class="parallax" src="~/blog-assets/images/blog-removebg-preview.png" alt="Blog">
    </div>
    <div class="container">
        <p><a class="gold">Home</a> <span class="stick"> </span> <span>Blog</span></p>
        <div class="content">
            <h1>Blog</h1>
            <div>
                <p>
                    As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge
                    but built
                    party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined
                    in declared
                    marianne is vicinity.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="FashionNews">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/christopher-campbell-28571-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Pellentesque habitant morbi</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/ian-dooley-347942-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Best books about Fashion</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/ian-dooley-347962-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Best books about Fashion</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/matheus-ferrero-334418-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Autumn fashion tips and tricks</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/photo-1534126511673-b6899657816a.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Newest photo apps</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/rahul-anil-214671-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Best books about Photography</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/ian-dooley-347942-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Best books about Fashion</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/christopher-campbell-28571-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Pellentesque habitant morbi</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100" data-aos-once="true">
                <div class="image">
                    <img src="~/blog-assets/images/ian-dooley-347962-unsplash.jpg" alt="">
                </div>
                <div class="content">
                    <h5><a>Best books about Fashion</a></h5>
                    <div class="details">
                        <p class="gold"><a>FASHION AND STYLE</a></p>
                        <p>January 16, 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Pages">
    <div class="container">
        <div class="pages">
            <div class="items"><i class="fa fa-chevron-left" aria-hidden="true"></i><span>Older posts</span></div>
            <div class="items"><span>Newer posts</span><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        AOS.init();
    </script>

    <script src="~/blog-assets/js/blog.js"></script>

}
